<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<form  th:method="Post" th:action="@{/login}" >
  <label for="username">Name: </label>
  <input name="username" type="text" id="username"  placeholder="Username" autofocus="autofocus"/>
  <br>
  <label for="password">Password: </label>
  <input name="password" type="text"  id="password" placeholder="Password"  autofocus="autofocus"/>
  <br>
  <br>
  <input type="submit" value="Вход"/>
  <br>
    <a href="/registration">Регистрация нового пользователя</a><
  <br>

</form>
</body>
</html>