<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text = "${user.getUsername()}"></td>
        <td th:text = "${user.getPassword()}"></td>
    </tr>
    </tbody>
</table>
<br>
<form name="logOut" th:action="@{/logout}" method="post">
    <input type="submit" value="Exit">
</form>
</body>
</html>